* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
}
.container > * {
    padding: 10px;
}
.navbar {
    grid-area: navbar;
    background-color: #F5D88D;
}
.title {
    grid-area: title;
}
.titulo {
    padding-left: 20px;
    margin: 25px 0px;
}
.carousel-caption {
    text-shadow: 2px 2px 4px black;
    color: white;
    font-size: large;
}
h2 {
    font-family:'Oswald', sans-serif,'Roboto', sans-serif;
}
.main {
    grid-area: main;
    margin: 30px;
    display: flex;
}
.secciones {
    padding: 5px 5px 5px 0px;
}
.foto {
    grid-area: foto;
}
.social {
    grid-area: social;
    margin: 0px 5px;
}
.infoSocial {    
    display: flex;
    flex-direction: row; 
    justify-content: center;
}
.infoPie {
    list-style: none;      
}
.enlace {
    text-decoration: none;
    text-transform: uppercase;
    color: black;   
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.mp {
    font-family: 'Mate SC', serif;
    text-transform: none;
}
.card {
    margin: 5px;
}
.enlace:hover {
    text-shadow: 2px 2px 4px gray;
    color: black;
}
.button {
    margin-top: 20px;
}
.profile {
    margin: 0px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.grid {
    display: grid;
    grid-template: 
    "navbar" 50px
    "title" 180px
    "main" auto
    "social" 70px /
    100%;
}
@media (min-width: 600px) {
    .grid {
        grid-template: 
        "navbar navbar" 80px
        "title title" auto
        "main main" 500px
        "social social" 70px /
        100%;
    }
}