* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
}
.container > * {
    padding: 10px;
}
.navbar {
    grid-area: navbar;
}
.title {
    grid-area: title;
    margin-top: 50px;
    margin-bottom: 40px;
}
h2 {
    font-family:'Oswald', sans-serif,'Roboto', sans-serif;
}
.main {
    grid-area: main;
}
.secciones {
    padding: 30px 30px 30px 0px;
}
.foto {
    grid-area: foto;
    display: flex;
    justify-content: center;
}
.social {
    grid-area: social;
}
.infoSocial {    
    display: block;
    justify-content: center;
}
.enlace {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 22px;    
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.enlace:hover {
    text-shadow: 2px 2px 4px gray;
    color: black;
}
.navbar {
    background-color: #F5D88D;
}
.profile {
    margin: 10px auto;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 15px;
}
.grid {
    display: grid;
    gap: 10px;
    grid-template: 
    "navbar" 50px
    "title" 180px
    "main" auto
    "foto" auto
    "social" 100px /
    100%;
}
@media (min-width: 600px) {
    .grid {
        grid-template: 
        "navbar navbar" 50px
        "title title" 180px
        "main foto" auto
        "social social" 150px /
        50% 50%;
        gap: 20px;
    }
    .card {
        margin: 15px;
    }
}