* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
}
.container > * {
    padding: 10px;
}
.navbar {
    grid-area: navbar;
    background-color: #F5D88D;
}
.title {
    grid-area: title;
}
.titulo {
    padding-left: 20px;
}
.carousel-caption {
    text-shadow: 2px 2px 4px black;
    color: white;
    font-size: large;
}
h2 {
    font-family:'Oswald', sans-serif,'Roboto', sans-serif;
}
.main {
    grid-area: main;
    margin: 30px;
}
.secciones {
    padding: 5px 5px 5px 0px;
}
.foto {
    grid-area: foto;
}
.social {
    grid-area: social;
}
.infoSocial {    
    display: block;
    justify-content: center;
}
.enlace {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 20px;    
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.enlace:hover {
    text-shadow: 2px 2px 4px gray;
    color: black;
}
.grid {
    display: grid;
    grid-template: 
    "navbar" 50px
    "title" 180px
    "main" auto
    "social" 100px /
    100%;
}
@media (min-width: 600px) {
    .grid {
        grid-template: 
        "navbar navbar" 80px
        "title title" auto
        "main main" auto
        "social social" 150px /
        100%;
    }
}